<meta charset="UTF-8">
<title>EJS Is Fun</title>

<link rel="stylesheet" href="css/style.css">

<!-- CSS (load bootstrap from a CDN) -->
<script src="https://cdn.tailwindcss.com"></script>
<!-- <link href="/styles/style.ejs" rel="stylesheet"> -->
<style>
    
</style>