<!DOCTYPE html>
<html >

<head>
  <%- include('../../partials/head'); %>
</head>

<body>


  <div class="flex  bg-gray-50">
    <div class="fixed">
       <%- include('../../partials/header'); %>
    </div>

      <div class="py-5 mx-4  ml-96  ">
        <div class="mt-10 py-4 p-4 bg-gray-100 h-screen rounded-lg shadow-lg">
          <p class="text-3xl text-yellow-900 text-center">About  </p>
          <p class="text-3xl text-orange-500 text-center pl-28">사바 </p>

          <div class="py-4 ">
              <p class="text-left text-yellow-900 text-lg font-mono">
                “I graduated with my degree in Information Technology in 2020. I chose that field of study because I’ve always been interested in designing and programming, and a couple of family members told me it leads to great career options, too.”
              </p>

                <p class="text-left text-yellow-900 text-base p-4 font-bold">
              I have been working in many companies in different majer these are some companies that I worked in:   
                </p>
        </div>
         

        


          
        <div class="flex justify-around ">
          <div class="flex-1 relative">
            <div class="bg-orange-400 rotate-6 w-80 h-48 absolute top-0 z-0 rounded shadow">
            </div>
            <div  class="z-10 absolute top-0">
                <div class="rounded bg-white shadow  w-80 h-48 p-4">
                  <p  class="text-3xl text-orange-500 text-center py-2">Exeer</p>

                  <p class="text-base text-yellow-900 py-2">
                    I was working as a data entry .Also, I worked as programming then I was working front end developer 
                  </p>
                  </div>
           
            </div>
          </div>
          <div class="flex-1 relative bg-gray-50">
            <div class="bg-orange-400 rotate-6 w-80 h-48 absolute top-0 z-0 rounded shadow">

            </div>
            <div  class="z-10 absolute top-0">
                <div class="rounded bg-white shadow  w-80 h-48 p-4">
                   <p  class="text-3xl text-orange-500 text-center py-2 ">Amanah Support</p>
                  <p class="text-base text-yellow-900 py-2">
                    I was working as a data entry .Also, I worked as programming then I was working front end developer 
                
                  </p>
                  </div>
           
            </div>
          
          </div>
        </div>


        
      </div>


    

  </div>

      </div>


</body>

</html>