<!DOCTYPE html>
<html >

<head>
  <%- include('../../partials/head'); %>
</head>

<body>


  <div class="flex  bg-gray-50">
    <div class="fixed">
    <%- include('../../partials/header'); %>
    </div>

      <div class="py-5 mx-4  ml-96 ">
        <div>

        <p class="text-base text-yellow-900 ">I am </p>
        <p class="text-3xl font-bold text-yellow-900">Sheba</p>
        </div>

        <div class="flex items-center justify-center bg-white p-4 h-[500px] rounded-lg shadow-sm w-full  my-4">

         
          <div class="flex-1">
            <p class="text-3xl py-4 text-orange-500 ">Summery</p>
            <p class="text-bas text-yellow-900 ">
               Colllaborative Technology Intern with experience designing websites
            Skilled in project coordination and meeting customer expectations.
            Adept working with [Tailwind] computer languages and coding.
            Canuse Photoshop and Illustrator programs. Also,canuse XD for
            visualizing websites and apps.Designing websites with[Joomla]
            language. Knowledgeable Database Developer with
            knowledgein[MySql]database systems.Can Learn any new
            technology program.
            </p>
           
          </div>
          <div class="flex-1 relative">
            <img src="saba3.png" class="" />
              <div class="absolute -bottom-12 right-0">
                <div class="h-16 w-16 bg-orange-500 p-2 animate-pulse rounded-md"></div>
              </div>
              <div class="absolute bottom-16 -right-6">
                <div class="h-12 w-12 bg-orange-500 p-2 animate-pulse rounded-md"></div>
              </div>
              <div class="absolute bottom-36 right-5">
                <div class="h-8 w-8 bg-orange-500 p-2 animate-pulse rounded-md"></div>
              </div>

              <div class="absolute bottom-48 -right-2">
                <div class="h-6 w-6 bg-orange-500 p-2 animate-pulse rounded-md"></div>
              </div>
          </div>


  
        </div>


        <div class="mt-10 py-4 p-4">
          <div class="flex">
            <div class="flex-1">
              <p class="text-3xl text-yellow-900 text-center">Need Creative Desgin? </p>
              <p class="text-3xl text-orange-500 text-right px-6"> I can help you!</p>

              <div class="py-4 ">
               <p class="text-left text-yellow-900 text-lg font-mono">
                “The distance between what you want and what you get is what you do”
              </p>

              <p class="text-left text-yellow-900 text-base p-4 font-bold">
                Many of us are taught not to brag, so when it comes to speaking about our own work we often hold back speaking about the value it brings, because we think the work will do the talking. This also assumes that someone is listening. Reconsider how can you make some noise?
              </p>
            </div>
            </div>
            <div class="flex-1 relative">
              <div class="bg-orange-400 rotate-6 w-full h-80 absolute top-0 z-0 rounded">

              </div>
              <div  class="z-10 absolute top-0">
                  <img src="christin-hume-Hcfwew744z4-unsplash (1).jpg" class="rounded"/>
             
              </div>
            
            </div>
          </div>
        </div>

    

      </div>


    

  </div>



</body>

</html>