<!DOCTYPE html>
<html >

<head>
  <%- include('../../partials/head'); %>
</head>

<body>


  <div class="flex  bg-gray-50 ">
    <div class="fixed">
    <%- include('../../partials/header'); %>
    </div>

      <div class="py-5 mx-4  ml-96 h-full bg-gray-50 w-full">
      

       


        <div class="mt-10 py-4 p-4 flex  bg-gray-100 h-screen rounded-lg shadow-lg">
      
          <div class="relative h-24 my-4">
            <div class="w-28 h-24 bg-orange-500  rounded  absolute top-0 left-0 z-0"></div>
            
            
            <div class=" self-end bg-white  shadow rounded  absolute h-24 rounded top-10 left-12 z-10">
              <p class="w-28 p-4">Arabic</p>
            </div>

          </div>

          
        </div>

    

      </div>


    

  </div>



</body>

</html>