<!DOCTYPE html>
<html >

<head>
  <%- include('../../partials/head'); %>
</head>

<body class="bg-gray-50">


  <div class="flex  bg-gray-50 ">
    <div class="fixed">
    <%- include('../../partials/header'); %>
    </div>

      <div class="py-5 mx-4  ml-96 h-full bg-gray-50 w-full">
      

        <div class="bg-gray-100 h-screen rounded-lg shadow-lg px-4">
       <div class="mt-10 py-4 p-4">

        <p class="text-3xl text-yellow-900 text-center">Services  </p>
        <p class="text-3xl text-orange-500 text-center pl-28">사바 </p>



        <div class="py-4 ">
          <p class="text-left text-yellow-900 text-lg font-mono">
            “There is a spiritual aspect to our lives — when we give, we receive — when a business does something good for somebody, that somebody feels good about them!”
          </p>
          </div>
       </div>

          <div class=" grid grid-cols-2 gap-4 h-[360px]">
          <div>
          <img src="john-schnobrich-FlPc9_VocJ4-unsplash.jpg"  class="rounded" />
          <p class="self-center text-yellow-900 text-base">Giving advice of desgining websites</p>
          </div>
          <div class=" grid grid-cols-2 gap-4">
           
            <p class="self-center text-orange-500 text-base">Making UI for website using XD Adobe</p>
          <img src="rachael-gorjestani-X6CZGpJBi8U-unsplash.jpg"  class="rounded" />
        
          <img src="andrew-neel-cckf4TsHAuw-unsplash.jpg" class="rounded" />
          <p class="self-center text-orange-500 text-base">Making Front End desgins</p>
          </div>
          </div>

    

      </div>
    </div>


    

  </div>



</body>

</html>