<!DOCTYPE html>
<html >

<head>
  <%- include('../../partials/head'); %>
</head>

<body>


  <div class="flex  bg-gray-50 ">
    <div class="fixed">
    <%- include('../../partials/header'); %>
    </div>

      <div class="py-5 mx-4  ml-96 h-full bg-gray-50 w-full">
      

       
<div class="bg-gray-100 h-screen rounded-lg shadow-lg">


        <div class="mt-10 py-4 p-4 flex "> 
          <div class="border-r-4 border-orange-500 p-4">
            
          <p class="text-3xl text-yellow-900 text-center py-4">S  </p>
          <p class="text-3xl text-yellow-900 text-center py-4">K </p>
          <p class="text-3xl text-yellow-900 text-center py-4">I  </p>
          <p class="text-3xl text-yellow-900 text-center py-4">L  </p>
          <p class="text-3xl text-yellow-900 text-center py-4">L  </p>
          <p class="text-3xl text-yellow-900 text-center py-4">S  </p>
          
          <!-- <p class="text-3xl text-orange-500 text-center pl-28">사바 </p> -->
          </div>
          <div class="grid grid-cols-2 gap-8 p-4  w-full">
            
            <div class="relative">
              <div class="bg-white rounded shadow  h-16">
                <p class="p-4 text-lg font-bold text-yellow-900">HTML</p>
                <div class="absolute top-2  -right-3">
                  <div class="h-12 w-12 bg-orange-500 p-2  rounded-md">
                    <p class="text-white text-center">
                      90%
                    </p>
                   
                  </div>
                </div>
              </div>
            </div>

            <div class="relative">
              <div class="bg-white rounded shadow  h-16">
                <p class="p-4 text-lg font-bold text-yellow-900">CSS</p>
                <div class="absolute top-2  -right-3">
                  <div class="h-12 w-12 bg-orange-500 p-2  rounded-md">
                    <p class="text-white text-center">
                      90%
                    </p>
                   
                  </div>
                </div>
              </div>
            </div>


            <div class="relative">
              <div class="bg-white rounded shadow  h-16">
                <p class="p-4 text-lg font-bold text-yellow-900">Tailwind</p>
                <div class="absolute top-2  -right-3">
                  <div class="h-12 w-12 bg-orange-500 p-2  rounded-md">
                    <p class="text-white text-center">
                      90%
                    </p>
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="relative">
              <div class="bg-white rounded shadow  h-16">
                <p class="p-4 text-lg font-bold text-yellow-900">Vuejs</p>
                <div class="absolute top-2  -right-3">
                  <div class="h-12 w-12 bg-orange-500 p-2  rounded-md">
                    <p class="text-white text-center">
                      90%
                    </p>
                   
                  </div>
                </div>
              </div>
            </div>

            <div class="relative">
              <div class="bg-white rounded shadow  h-16">
                <p class="p-4 text-lg font-bold text-yellow-900">Joomla</p>
                <div class="absolute top-2  -right-3">
                  <div class="h-12 w-12 bg-orange-500 p-2  rounded-md">
                    <p class="text-white text-center">
                      90%
                    </p>
                   
                  </div>
                </div>
              </div>
            </div>

            <div class="relative">
              <div class="bg-white rounded shadow  h-16">
                <p class="p-4 text-lg font-bold text-yellow-900">Adobe XD</p>
                <div class="absolute top-2  -right-3">
                  <div class="h-12 w-12 bg-orange-500 p-2  rounded-md">
                    <p class="text-white text-center">
                      90%
                    </p>
                   
                  </div>
                </div>
              </div>
            </div>

            <div class="relative">
              <div class="bg-white rounded shadow  h-16">
                <p class="p-4 text-lg font-bold text-yellow-900">Photoshop</p>
                <div class="absolute top-2  -right-3">
                  <div class="h-12 w-12 bg-orange-500 p-2  rounded-md">
                    <p class="text-white text-center">
                      90%
                    </p>
                   
                  </div>
                </div>
              </div>
            </div>


            <div class="relative">
              <div class="bg-white rounded shadow  h-16">
                <p class="p-4 text-lg font-bold text-yellow-900">WordPress</p>
                <div class="absolute top-2  -right-3">
                  <div class="h-12 w-12 bg-orange-500 p-2  rounded-md">
                    <p class="text-white text-center">
                      90%
                    </p>
                   
                  </div>
                </div>
              </div>
            </div>
          
           
          </div>
        </div>

    

      </div>


    
</div>

  </div>



</body>

</html>