<!DOCTYPE html>
<html >

<head>
  <%- include('../../partials/head'); %>
</head>

<body>


  <div class="flex  bg-gray-50 ">
    <div class="fixed">
    <%- include('../../partials/header'); %>
    </div>

      <div class="py-5 mx-4  ml-96 h-full bg-gray-50 w-full ">
      

       
<div class="bg-gray-100 h-screen rounded-lg shadow-lg">

        <div class="mt-10 py-4 p-4 flex justify-center ">
          
              <p class="text-3xl text-yellow-900 ">Latest Work  </p>
              <div class="border-r-4 border-orange-500 w-2 h-16 p-2"></div>
              <p class="text-3xl text-yellow-900 text-center  self-end pl-2">사바 </p>
       

            
        </div>
        <div class="relative h-96 my-4 mx-6">
          <div class="w-28 h-80 bg-orange-500  rounded  absolute top-0 left-0 z-0"></div>
          
          
          <div class="h-80 self-end bg-white flex shadow rounded  absolute h-80 rounded top-12 left-12 z-10">
            <img src="andrew-neel-cckf4TsHAuw-unsplash.jpg">
        
            <p class="w-80 p-4">jdfgjdgudsfuuyfyugf</p>
          </div>
        </div>
      </div>
       
       
        </div>

    

      </div>


    

  </div>



</body>

</html>